/*Fonte da logo princiapal*/

header .logo {
    font-family: 'Raleway', sans-serif; 
    font-size: 1.7em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 80px;
    background: #055c6b;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;

}
body{
    padding-inline: 20px;
}
.titulo{
    font-family: 'Raleway', sans-serif; 
    margin-left: 13px;
}
.Subtitulo{
    font-family: 'Raleway', sans-serif;
    padding-block: 7px;
    padding-inline: 15px;
    font-weight: 700;
}
p {
    padding-inline: 10px;
}